<div id="new_user_form" class="row">
    <div class="col-lg-4">
        <h3>Sign up is eazy, just add your info here!</h3>
    </div>
    <div class="col-lg-8">
        <%= form_for @user, html: { autocomplete: :off } do |f| %>
      <p>
        <%= f.label :user_name %>
        <%= f.text_field :user_name %><br>
        <%= f.label :email%>
        <%= f.email_field :email %><br>
        <%= f.label :website %>
        <%= f.url_field :website %><br>
        <%= f.label :born_on %>
        <%= f.date_field :born_on %><br>
        <%= f.label :location %>
        <%= f.text_field :location %><br>
        <%= f.submit %>
      </p>
    </div>
<% end %>
</div>