<!-- <div class="bubble">
	<% @cars.each do |car| %>
	
	<b>Start</b>: <%= car.start_date %>
	<b>End</b>: <%= car.end_date %>
	<b>Make</b>: <%= car.car_make %>
	<b>Model</b>: <%= car.car_model %>
	<b>Price</b>: $<%= car.price %>
	<b>Miles</b>:<%= car.mileage %>
	<%= link_to "Rent this "+car.car_model, car, class: "btn btn-sm btn-primary pull-right" %>
	<br>
	<br>
	<% end %>
	<%= link_to "Add new Car", new_car_path, class: "btn btn-md btn-primary" %>
</div> -->
<div id="info" class="row indent">
	<h1>Find that car!</h1>
</div>
<div class="row indent">
	<div class="col-sm-2">
		<h3>Make</h3>
		<% @cars.each do |c| %>
		<%= c.car_make %>
		<br>
		<% end %>
	</div>
	<div class="col-sm-2">
	</div>
</div>

