<br>
<div id="cars_list" class="bubble">
	<% @cars.each do |car| %>
	<b>Start</b>: <%= car.start_date %>
	<b>End</b>: <%= car.end_date %>
	<b>Make</b>: <%= car.car_make %>
	<b>Model</b>: <%= car.car_model %>
	<b>Price</b>: $<%= car.price %>
	<b>Miles</b>:<%= car.mileage %>
	<%= link_to "Rent this "+car.car_model, car, class: "btn btn-sm btn-primary" %>
	<br>
	<br>
	<% end %>
	<%= link_to "Add new Car", new_car_path, class: "btn btn-md btn-primary" %>
</div>